{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'css/description.css' %}"/>
 <div class="container text-center">   
    <h1 class= "alert alert-sucess">About password generator</h1>
    Here you can make your own strong password by selecting special parametrs like:
    <br>
    - uppercase - if you wanna add Upper letters to your password
    <br>
    - special - if you wanna add special characters
    <br>
    - numbers - to add digits
    <br>
    - lenght - to select lenght off your future password
    <form action="{% url 'home' %}">
        <br>
            <input type="submit" value="Back to homepage" class= "btn btn-primary">
    </form>
  
</div>

